Bacteria_tracing-py/encapsulation_04001_Series002_t
Bacteria_tracing-py/encapsulation_04001_Series004_z
Bacteria_tracing-py/jayesh encap 3001_Series003_z
Bacteria_tracing-py/jayesh encap 3001_Series014_z
Bacteria_tracing-py/*.npy